In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.DataFrame({'Yes':[50,21], 'No':[131,2]})

   Yes   No
0   50  131
1   21    2

이 예에서 "0, No" 항목의 값은 131입니다. "0, 예" 항목의 값은 50입니다.

데이터 프레임 항목은 정수로 제한되지 않습니다. 예를 들어 값이 문자열인 DataFrame은 다음과 같습니다.

In [3]:
pd.DataFrame({'Bob':['I like it','It was awful'], 'Sue':['Pretty good','Bland']})

            Bob          Sue
0     I like it  Pretty good
1  It was awful        Bland

key가 열이름 이 예에서는 Bob, Sue가 열이름

In [4]:
pd.Series([30,40,50], index=['2015 sales', '2016 salse', '2017 salse'])

2015 sales    30
2016 salse    40
2017 salse    50
dtype: int64

In [5]:
pd.options.display.max_rows # 표를 출력할 때 최대 행 수
pd.options.display.min_rows # 표를 출력할 때 최소 행 수 = pd.get_option('min_r(ows)')

60

In [6]:
pd.options.display.max_rows = 6 # 최대 출력 행 수를 6행으로 제한
# pd.set_option('max_r(ows)', 6)

In [7]:
df = pd.DataFrame({'x': range(100)})
df

     x
0    0
1    1
2    2
..  ..
97  97
98  98
99  99

[100 rows x 1 columns]

In [10]:
pd.options.display.max_columns = 10 # 최대 열 수를 설정/ 단, 최소 열 수는 설정 할 수 없음
pd.options.display.max_columns

10

chop_threshold는 설정된 값보다 작은 수는 모두 0으로 표시

In [11]:
pd.options.display.chop_threshold = 0.99
pd.DataFrame({'x': [10,1,0.1]})

      x
0  10.0
1   1.0
2   0.0

In [12]:
pd.reset_option('display.float_format') # 설정 취소

In [13]:
pd.options.display.precision = 3
pd.DataFrame({'x': [0.5], 'y': [0.0003]})

     x          y
0  0.0  0.000e+00

precision은 소수점을 과학적 표기법으로 변환할 자릿수를 정함.
과학적 표기법으로 3.000e-04는 $3.000$ X $10^-4$

### describe() 함수    
DataFrame(percentiles = None, include = None, exclude = None, datetime_is_numeric = False)

percentiles = 출력에 포함 할 백분위 수에 대해 알려줌. 모든 값은 0에서 1 사이   
include = all : 입력의 모든 열 포함   
          None : 결과에 모든 숫자 열 포함   
          목록과 유사한 데이터 유형 : 제공된 데이터 유형으로 결과 제한   
exclude = 목록과 유사한 데이터 유형 : 제공된 데이터 유형으로 결과 제외   
          None : 결과에서 아무것도 제외 X